.contenido {
    padding: 25px;
    background-color: green;
    color: white;
    border: 8px solid blue;
    margin: 15px;
    font-family: Verdana, Geneva, sans-serif;
}
.saludo{
    padding: 10px;
    background-color: blue;
    color: white;
    font-family: Verdana, Geneva, sans-serif;
}